html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  min-height: 100vh !important;
  background-color: #111827 !important;
  color: white;
}

body {
  overflow-x: hidden;
}